.AddItemOverlay header {
  padding: 18px 140px 30px;
  border-bottom: 1px solid black;
  text-align: center;
}

.AddItemOverlay .item-details-form {
  border: 1px solid var(--navigation-color);
}

.AddItemOverlay hr {
  border-color: black;
  background-color: black;
}
.past-items {
  color: #2c343f;
  font-size: 14px;
}

.past-item-block {
  padding-left: 32px;
  font-size: 12px;
}

.past-items-list {
  margin-top: 10px;
}
.add-item-icon {
  color: var(--active-color);
  padding: 8px;
}

.add-item {
  width: 201px;
  height: 33px;
  top: 100px;
  left: 79px;
  margin-top: 42px;
  margin-left: 75px;
}

.add-quantity {
  width: 91px;
  height: 33px;
  top: 140px;
  left: 79px;
  margin-left: 86px;
}

.add-button {
  font-size: 12px;

  display: block;
  margin: -27px 0 0px 38px;
}
