.add-photo-icon {
  font-size: 60px;
  color: black;
  padding-top: 25px;
}

.image-container {
  width: 120px;
  height: 138px;
  background-color: #fbfcfc;
  margin: 0 auto;
  border-radius: 10px;
  text-align: center;
  border: 1px solid var(--navigation-color);
}

.image-text {
  font-size: 12px;
}

.add-item-button {
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
  margin: 0 auto;
  width: 135px;
  height: 36px;
  padding: 6px 6px 6px 8px;
}

.location-checkbox {
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
}

.locations {
  text-align: center;
}

.AddItemManually .details-icon {
  padding: 0;
}

.AddItemManually .shopping-list-icon {
  padding: 10px;
}

.location-text {
  position: relative;
  bottom: 6px;
}

.AddItemManually .buttons {
  padding: 10px 20px;
}
