.alert-number {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.alert-header {
  padding-top: 38px;
  padding-bottom: 18px;
}

.expire {
  font-size: 14px;
}

.Alerts .item-slot {
  padding-bottom: 8px;
  padding-top: 8px;
  font-size: 14px;
}

.Alerts .quantity {
  font-size: 10px;
  line-height: 11.72px;
  color: #acaaaa;
  padding-left: 0;
}
