a {
  text-decoration: none;
}
.Homepage .homepage-button {
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
  margin: 0 auto;
  width: 135px;
  height: 36px;
  padding: 6px 6px 6px 8px;
  font-family: var(--heading-font-family);
}
.buttons {
  display: flex;
  justify-content: space-around;
}

div.active:hover {
  color: black;
}

div.inactive:hover {
  color: black;
}
.active {
  background-color: var(--active-color);
  color: black;
  font-weight: 500;
}

.inactive {
  color: black;
  font-weight: 500;
  border: 2px solid var(--active-color);
}
