.InventoryList .item-slot {
  padding-top: 7px;
  padding-left: 0;
}

.InventoryList .product-name {
  font-size: 14px;
  line-height: 14.06px;
}

.InventoryList .quantity {
  font-size: 10px;
  line-height: 11.72px;
  color: #acaaaa;
  padding-left: 0;
}

.details-icon {
  padding-right: 41px;
}

.sorting {
  font-size: 12px;
  line-height: 14.06px;
  padding-top: 9px;
}

.dropdown {
  border: none;
}

.more-info-arrow {
  color: var(--navigation-color);
}
