.ItemDetails {
  text-align: center;
}

.ItemDetails header {
  padding: 18px 140px 30px;
  border-bottom: 1px solid black;
}

.item-details-form {
  border: 1px solid var(--navigation-color);
  border-radius: 5px;
  font-size: 14px;
  color: black;
  margin: 8px auto;
  height: 33px;
  left: 37px;
  top: 243px;
  padding: 4px;
}

.bin-icon {
  color: #c4c4c4;
}

.item-name {
  width: 289px;
  text-align: start;
}

.item-picture {
  width: 142px;
  height: 142px;
  object-fit: cover;
  border: 1px solid var(--navigation-color);
  margin-top: 70px;
  margin-bottom: 22px;
  border-radius: 10px;
}
.quantity-form {
  width: 80px;
}

.bin-icon {
  color: black;
  font-size: 35px;
}

.text-under-icon {
  font-size: 12px;
  color: black;
  line-height: 25px;
}

.add-shopping-list-icon {
  color: var(--active-color);
  font-size: 35px;
}

.ingredients-title {
  font-size: 20px;
  padding-left: 35px;
}

.ingredients-detail {
  padding-left: 35px;
}
