.ShoppingList .item-slot {
  padding-top: 7px;
  padding-left: 0;
}

.ShoppingList .product-name {
  font-size: 14px;
  line-height: 14.06px;
}

.ShoppingList .quantity {
  font-size: 10px;
  line-height: 11.72px;
  color: #c4c4c4;
}

.sorting {
  font-size: 12px;
  line-height: 14.06px;
}
.shopping-list-icon {
  color: var(--navigation-color);
}

.ShoppingList .quantity {
  font-size: 10px;
  line-height: 11.72px;
  color: #acaaaa;
  padding-left: 0;
}
